@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  background: #fff9ef;
}

::-webkit-scrollbar-thumb {
  background: #f3c556;
  border-radius: 6px;
}

/* .dark-scroller::-webkit-scrollbar {
  width: 10px;
  background: #312c2a;
}

.dark-scroller::-webkit-scrollbar-thumb {
  background: #1c1917;
  border-radius: 6px; 
} */

.active {
  color: #f3c556;
  font-weight: bolder;
}

.stroke-custom {
  path {
    stroke-width: 1.2px !important;
  }
}
